
body {
    color:#36454F;
}

.title-container {
    display: flex;
    flex-direction: row;
    padding: 0 3em;
    align-items: center;
}

.img-container {
    width: 270px;
    flex-grow: 0;
    height: 150px;
    line-height: 150px;
}

.icon-container {
    width: 270px;
    flex-grow: 0;
    height: 30px;
    line-height: 30px;
    align-self: flex-start;
}

.icon-container img {
    cursor: pointer;
}
.app-title {
    text-align: center;
    padding: 20px 50px;
    flex-grow: 1;
}

.main-title {
    font-size: 3em;
}

.sub-title {
    font-size: 1.5em;
}

.card-info {
    border-color: #17a2b8;
}
.card-info > .card-heading {
    color: white;
    background-color: #17a2b8;
    padding: 5px 10px 10px 20px;
    border-color: #17a2b8;
    border-bottom: 1px solid;
}

a, a:visited {
    color : #17a2b8;
    text-decoration: none;
}

.card-heading .card-title {
    margin: 0;
    font-size: 1.25em;
}